@charset "utf-8";

.shade{background:rgba(0,0,0,0.5);position:fixed;left:0;right:0;top:0;bottom:0;
text-align:center}
.dialog a{color:#BBB;text-decoration: none;}

.dialog{width:300px;height:200px;position:absolute;border-radius: 3px;
	top:0;bottom: 0;left:0;right:0;margin:auto auto;overflow: hidden;background-color: #fff;}
.dialog>.dialog_title{width:100%;height:47px;line-height:47px;text-indent:16px;
	background-color:#fff;color:#1d2529;text-align: left;font-size: 17px;font-weight: 700;
	border-bottom: 2px solid #eee;}
.dialog_tools{position:absolute;right:0;top:0;line-height: 47px;margin-right: 20px;}
.dialog_tools a{font-size: 14px;font-weight: 900;}
.dialog>.dialog_body{background-color: #fff;height:auto;}
.dialog>.dialog_btns{width:100%;height:49px;border-top: 1px solid #e7e7e7;background-color: #f5f5f5;
	position: absolute;bottom: 0;}
.dialog>.dialog_btns>.def-btn{width:105px;height:35px;border:none;background-color: #4bba8f;color:#fff;
	margin:7px 18px;outline:none;}
.dialog>.dialog_btns>.def-btn:hover{background-color: #42a680;}

.tooltip_1{width: 298px;height: 98px;line-height:98px;text-align:center;background-color: #fff;
    	border:1px solid #ddd;font-size: 14px;margin:auto;position: absolute;top:0;right: 0;bottom: 0;left:0;}
.tooltip_1>.text{padding-left:3px;}
